*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url("image/indexBackground.jpg");
  background-position: center;
  font-family: sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left middle right"
    "footer footer footer";
  grid-gap: 10px;
  background-color: #2196f3;
  
}

.header {
  grid-area: header;
  background-color: lightseagreen;
  padding: 10px;
}

#navigation a:hover,
#navigation a:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

#navigation {
  width: 100%;
  overflow: auto;
}

#navigation a {
  padding-top: 2%;
  padding-bottom: 2%;
  float: left;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  border-top: aqua;
  border-bottom: purple;
  border-width: 5px;
  border-style: ridge none;
}

#navigation a:hover,
#navigation a:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

#indexBody-middle {
  grid-area: middle;
  height: 200px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(255, 32, 255, 1) inset;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 32, 255, 1) inset;
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 32, 255, 1) inset;
}

section {
  display: grid;
}

.left {
  grid-area: left;
  height: 200px;
  text-align: center;
  background-color: rgba(224, 19, 19, 0.6);
}

.right {
  grid-area: right;
  height: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.footer {
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 40px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

/* Registration-begin */
#registrationBody {
  background-image: url("image/loginBackground.jpg");
  background-position: center;
  min-height: 1px;
}

#lblRegistrationTitle {
  font-size: 3em;
  padding: 0.5em;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.registration-form .registration-input {
  margin: 1em;
  padding: 0.5em;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  vertical-align: middle;
  border: none;
  height: 40px;
}
.registration-form .registration-input:hover {
  background: rgba(255, 255, 255, 0.8);
  border: none;
}
.registration-form .registration-input:active {
  background: rgba(255, 255, 255, 0.9);
  border: none;
}
.registration-form .registration-input:focus {
  background: rgba(255, 255, 255, 0.9);
  border: none;
}

.registration-form .registration-button {
  margin: 0.5em;
  padding: 0.5em;
  width: 175px;
  border-radius: 10px;
  border: none;
  width: 60%;
  margin: 0.5em;
  height: 40px;
}
a {
  text-decoration: none;
}

.registrationButtons {
  margin: 1em;
}

.registrationButtons #registrationButton {
  width: 30%;
  margin: 0.5em;
}
.registrationButtons #backToLoginBtn {
  width: 60%;
  margin: 0.5em;
}

@media (min-width: 790px) {
  .registration-form {
    background: rgba(255, 255, 255, 0.6);
    margin: 1em;
    margin-top: 10vh;
    display: flex;
    flex-flow: column;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 790px) {
  .registration-form {
    background: rgba(255, 255, 255, 0.6);
    margin: 1em;
    margin-top: 10vh;
    display: flex;
    flex-flow: column;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
    align-self: stretch;
  }
}

/* Registration-end */

/* Login-Begin */

.loginBar-inline {
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 1em;
}

#btn {
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 5px;
  border: none;
}

#btn:hover,
#btn:focus {
  background: rgba(0, 255, 21, 0.6);
}

#btn:active {
  background: rgba(0, 255, 21, 0.8);
}

.loginBar-inline {
  margin-top: 10vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px/90px;
  align-self: stretch;
}

.loginBar-inline input {
  height: 32px;
}

#user:hover,
#pass:hover {
  background: rgba(255, 255, 255, 0.8);
}
#user:active,
#pass:active {
  background: rgba(255, 255, 255, 0.9);
}

.loginButtons #loginBtn {
  margin: 0.5em;
  border: none;
  border-radius: 10px;
}

.loginButtons #loginBtn:hover {
  background: rgba(231, 146, 252, 0.8);
}
.loginButtons #loginBtn:active {
  background: rgba(231, 146, 252, 0.9);
}

.loginButtons #registrationLink {
  margin: 0.5em;
  text-align: right;
}

@media (max-width: 790px) {
  .grid-container {
    border-radius: 30px;
    display: grid;
    grid-template-areas:
      "header header header"
      "left left left"
      "middle middle middle"
      "right right right"
      "footer footer footer";
    grid-gap: 10px;
    background-color: #2196f3;
  }
  .loginBar-inline input {
    height: 40px;
    align-self: stretch;
  }

  .loginBar-inline {
    flex-direction: column;
    align-items: stretch;
    border-radius: 1em;
  }
  #user,
  #pass {
    text-align: center;
    margin: 1em;
  }

  .loginButtons {
    margin: 1em;
  }

  .loginButtons #registrationLink {
    width: 30%;
    margin: 0.5em;
  }
  .loginButtons #loginBtn {
    width: 60%;
    margin: 0.5em;
  }
}

#user,
#pass {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: none;
}

#user:hover,
#user:focus,
#pass:hover,
#pass:focus {
  outline: 8px dashed mix(0 0 3px #ff0000, 0 0 5px #0000ff);
}

#user:hover input {
  color: #0000ff;
}

#loginBody {
  background-image: url("image/login\ background.jpg");
  background-position: center;
}

#errorBody {
  background-image: url("image/errorPage.png");
  background-position: center;
}

#errorMessage {
  text-align: center;
  padding-top: 10%;
}
/* TODO: Uitzoeken waarom die min-height werkt... */
#loginBody {
  background-image: url("image/loginBackground.jpg");
  background-position: center;
  min-height: 1px;
}

#lblLogin {
  font-size: 3em;
  padding: 0.5em;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

#lblUsername {
  font-size: 1.5em;
  padding: 0.5em;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

#lblPassword {
  font-size: 1.5em;
  padding: 0.5em;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

#lblEmail {
  font-size: 1.5em;
  padding: 0.5em;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

/* Login-End */

/* Profile-Begin */
#profileBody {
 
  background: #6c00e4;
background: repeating-radial-gradient(ellipse farthest-side at bottom right, #6c00e4 0%, #0afbe2 20%);
background: -webkit-repeating-radial-gradient(ellipse farthest-side at bottom right, #6c00e4 0%, #0afbe2 20%);
background: -moz-repeating-radial-gradient(ellipse farthest-side at bottom right, #6c00e4 0%, #0afbe2 20%);
}
/* Profile-End */
