header {
  background-color: olive;
  display: block;
}

body {
  background-color: aqua;
  margin: 0;
  background-image: url("image/login\ background.jpg");
  background-position: center;
}

#form {
  background: rgba(255, 255, 255, 0.6);
  margin: 10% 30% 15%;
  text-align: center;
  border-radius: 5px;
  
}

#loginBtn{
  text-align: right;
  padding: 1em;
}

#btn {
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 5px;
  border: none;
}

#btn:hover, #btn:focus {
  background: rgba(0, 255, 21, 0.6);
}


#loginTitle {
  padding: 1em;
}





